{% extends 'layout.html' %}

{% include('partials/_nav.html') %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show alert-fixed position-fixed top-0 start-50 translate-middle-x" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>   
        {% endfor %}
    {% endif %}
{% endwith %}
<table class="table table-secondary table-hover mt-5">
    <thead>
        <tr>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Correo electronico</td>
            <td>Telefono</td>
            <td>Edad</td>
            <td>Pais</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% for client in clients%}
            <tr class="mx-2">
                <td>{{client.first_name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.phone}}</td>
                <td>{{client.age}}</td>
                <td>{{client.country}}</td>
                <td>
                    <a href="{{ url_for("clients.modify_client", id=client.id) }}"><i class="fa-solid fa-pencil fa-lg text-secondary me-3"></i></a>
                    <a href="{{ url_for("clients.remove_client", id=client.id) }}"><i class="fa-solid fa-xmark fa-xl text-danger"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}