{% extends 'layout.html' %}

{% include('partials/_nav.html') %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show alert-fixed position-fixed top-0 start-50 translate-middle-x" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>  
        {% endfor %}
    {% endif %}
{% endwith %}
    
    
<div class="row mt-5">
    <div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active link-danger" id="form-tab" data-bs-toggle="tab" data-bs-target="#form" type="button" role="tab" aria-controls="form" aria-selected="true">Formulario</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link link-danger" id="load-tab" data-bs-toggle="tab" data-bs-target="#load" type="button" role="tab" aria-controls="load" aria-selected="false">Cargar CSV</button>
            </li>
          </ul>
          <div class="tab-content border-start border-end border-bottom rounded-bottom p-5" id="myTabContent">
            <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {% if form.first_name.errors %}
                            {{ form.first_name(class="form-control is-invalid", placeholder="Nombres", id="first_name") }}
                            {{ form.first_name.label(for="first_name", content="Nombres") }}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.first_name(class="form-control", placeholder="Nombres", id="first_name") }}
                            {{ form.first_name.label(for="first_name", content="Nombres") }}
                        {% endif %}

                    </div>
                    <div class="form-floating mb-3">
                        {% if form.last_name.errors %}
                            {{ form.last_name(class="form-control is-invalid", placeholder="Apellidos", id="last_name") }}
                            {{ form.last_name.label(for="last_name", content="Apellidos") }}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.last_name(class="form-control", placeholder="Apellidos", id="last_name") }}
                            {{ form.last_name.label(for="last_name", content="Apellidos") }}
                        {% endif %}

                    </div>
                    <div class="form-floating mb-3">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", placeholder="Correo", id="email") }}
                            {{ form.email.label(for="email", content="Correo") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control", placeholder="Correo", id="email") }}
                            {{ form.email.label(for="email", content="Correo") }}
                        {% endif %}

                    </div>
                    <div class="form-floating mb-3">
                        {% if form.phone.errors %}
                            {{ form.phone(class="form-control is-invalid", placeholder="Telefono", id="phone") }}
                            {{ form.phone.label(for="phone", content="Telefono") }}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="form-control", placeholder="Telefono", id="phone") }}
                            {{ form.phone.label(for="phone", content="Telefono") }}
                        {% endif %}

                    </div>
                    <div class="form-floating mb-3">
                        {% if form.age.errors %}
                            {{ form.age(class="form-control is-invalid", placeholder="Edad", id="age") }}
                            {{ form.age.label(for="age", content="Edad") }}
                            <div class="invalid-feedback">
                                {% for error in form.age.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.age(class="form-control", placeholder="Edad", id="age") }}
                            {{ form.age.label(for="age", content="Edad") }}
                        {% endif %}

                    </div>
                    <div class="form-floating mb-3">
                        {% if form.country.errors %}
                            {{ form.country(class="form-control is-invalid", placeholder="Country", id="country") }}
                            {{ form.country.label(for="country", content="Country") }}
                            <div class="invalid-feedback">
                                {% for error in form.country.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.country(class="form-control", placeholder="Country", id="country") }}
                            {{ form.country.label(for="country", content="Country") }}
                        {% endif %}

                    </div>
                    {{ form.submit(class="btn btn-danger mt-2") }}
                    <!--<div class="form-floating mb-3">
                        <input type="text" id="first_name" name="first_name" placeholder="Nombres" class="form-control">
                        <label for="first_name">Nombres</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" id="last_name" name="last_name" placeholder="Apellidos" class="form-control">
                        <label for="last_name">Apellidos</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" id="email" name="email" placeholder="Email" class="form-control">
                        <label for="email">Correo electronico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" id="phone" name="phone" placeholder="Teléfono" class="form-control">
                        <label for="phone">Telefono</label>
                    </div>
                    
                    <button class="btn btn-danger mt-2">Guardar</button>-->
                </form>
            </div>
            <div class="tab-pane fade" id="load" role="tabpanel" aria-labelledby="load-tab">

                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form_file.hidden_tag() }}
                    <div class="mb-2">
                        {% if form_file.file.errors %}
                            {{ form_file.file(class="form-control is-invalid", placeholder="Archivo", id="file") }}

                            <div class="invalid-feedback">
                                {% for error in form_file.file.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_file.file(class="form-control", placeholder="Archivo", id="file") }}
                            
                        {% endif %}

                        <!--<input type="file" name="csv_file" placeholder="Archivo" class="form-control" id="csv_file" accept=".csv">
                        <label for="file" class="form-label"></label>-->
                    </div>
                    {{ form_file.submit_file(class="btn btn-danger mt-2", accept=".csv") }}
                    <!--<button class="btn btn-danger">Cargar</button>-->
                </form>
            </div>
          </div>
    </div>
</div>

{% endblock %}