{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show alert-fixed position-fixed top-0 start-50 translate-middle-x" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>  
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container-content">
    <div class="container-login">
        <div class="row mt-5">
            <div class="col-12 col-md-4 offset-4 text-center">
                <img src="/static/images/logo.png" class="logo" alt="logo_derco" />
            </div>
        </div> 
        <div class="row mt-3">
            <div class="col-12 col-md-6 offset-3 text-center">
                <h3>Ingreso Usuarios</h1>
            </div>
        </div>  
        <div class="row mt-3">
            <div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3 text-center">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                        <div class="form-floating mb-3">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid", placeholder="Correo", id="email") }}
                                {{ form.email.label(for="email", content="Correo") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control", placeholder="Correo", id="email") }}
                                {{ form.email.label(for="email", content="Correo") }}
                            {% endif %}
        
                        </div>
                        <div class="form-floating mb-3">
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid", placeholder="Contrasena", id="password") }}
                                {{ form.password.label(for="password", content="Contrasena") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control", placeholder="Contrasena", id="password") }}
                                {{ form.password.label(for="password", content="Contrasena") }}
                            {% endif %}
        
                        </div>
                        {{ form.submit(class="btn btn-danger mt-2") }}
                </form>
            </div>
            
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4 p-1 text-center">
                <small class="text-muted">
                    No tienes cuenta? Registrate <a href="{{ url_for("users.signup")}}">aqui</a>
                </small>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}