{% extends 'layout.html' %}

{% include('partials/_nav.html') %}

{% block content %}

    <div class="row mt-5">
        <div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3">
            <form action="/update_client/{{client.id}}" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" id="new_first_name" name="first_name" placeholder="Nombres" class="form-control" value="{{client.first_name}}">
                    <label for="new_first_name">Nombres</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="new_last_name" name="last_name" placeholder="Apellidos" class="form-control" value="{{client.last_name}}">
                    <label for="new_last_name">Apellidos</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="new_email" name="email" placeholder="Email" class="form-control" value="{{client.email}}">
                    <label for="new_email">Correo electronico</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="new_phone" name="phone" placeholder="Teléfono" class="form-control" value="{{client.phone}}">
                    <label for="new_phone">Telefono</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="new_age" name="age" placeholder="Edad" class="form-control" value="{{client.age}}">
                    <label for="new_age">Edad</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="new_country" name="country" placeholder="Pais" class="form-control" value="{{client.country}}">
                    <label for="new_country">Pais</label>
                </div>
                
                <button class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>

{% endblock %}
