* {
    font-family: 'Roboto', sans-serif;
}

.alert-fixed {
    position: fixed !important;
    z-index: 999;
}

.logo {
    width: 100px !important;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;

}

.container-login {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    width: 60%;
    height: 70%;
}